
.github {
    display: grid; 
    background-color: gray;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 15px;
    height: 100%;
    
 }
   
 #item-0 {
 
    background-color:rgba(34, 68, 107, 0.646); 
    grid-row-start: 1;
    grid-column-start: 1;
    color:  aliceblue; 
    grid-row-end: 3;
    grid-column-end: 11;
    
 }
 #item-1 {
 
    background-color:rgba(0, 0, 0, 0.639);; 
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 13;
    grid-column-end: 4;
    
 }
 #item-2 {
 
    background-color: rgba(0, 0, 0, 0.639);; 
    grid-row-start: 4;
    grid-column-start: 6;
    color: aliceblue;
    grid-row-end: 5;
    grid-column-end: 9;
    
 }
 #item-3 {
 
    background-color:rgba(0, 0, 0, 0.639);; 
    grid-row-start: 6;
    grid-column-start: 5;
 
    grid-row-end: 8;
    grid-column-end: 6;
    
 }
 #item-4 {
 
    background-color: rgba(0, 0, 0, 0.639);; 
    grid-row-start: 6;
    grid-column-start: 7;
 
    grid-row-end: 8;
    grid-column-end: 8;
    
 }
 #item-5 {
 
    background-color:rgba(0, 0, 0, 0.639);; 
    grid-row-start: 6;
    grid-column-start: 9;
 
    grid-row-end: 8;
    grid-column-end: 10;
    
 }
 #item-6 {
 
    background-color: rgba(0, 0, 0, 0.639);; 
    grid-row-start: 9;
    grid-column-start: 5;
 
    grid-row-end: 13;
    grid-column-end: 10;
    
 }
 
 
 